/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body {
  background-color: red;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: pink;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: blue;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: green;
  }
}
